.button {
  border: none;
  outline: none;
  padding: 0px 10px;
  min-height: 35px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  &_green {
    background: green;
  }
  &_red {
    background: rgb(218, 17, 17);
  }
}
