.main {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 10px;
  max-width: 1440px;
  margin: 0px auto;
  &__item {
    display: inline-flex;
    align-items: center;
    &:not(:last-child) {
      margin: 0px 10px 0px 0px;
    }
  }
}

.main-options {
  display: flex;
  &__item {
    &:first-child {
      margin: 0px 10px 0px 0px;
    }
  }
}
.modal {
  position: fixed;
  z-index: 2;
  background-color: rgba(3, 8, 13, 0.24);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    background: white;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    .row {
      margin: 0px 0px 10px 0px;
    }
  }
  &__title {
    text-align: center;
  }
  &__error {
    color: red;
  }
  &__button {
    margin: 30px 0px 0px 0px;
  }
}
