<script setup>
import { ref } from "vue";
import UserItem from "@components/UserItem.vue";
import AddModalUser from "@components/AddModalUser.vue";
import EditModalUser from "@components/EditModalUser.vue";
import data from "@/userListData.js";

const userList = ref(data);

const deleteUser = (id) => {
  const index = findUser(id, userList.value);
  if (index !== -1) userList.value.splice(index, 1);
};
const findUser = (id, array) => array.findIndex((el) => el.id === id);
const isOpenAddModal = ref(false);
const isOpenEditModal = ref(false);
const currentUser = ref(null);
const editUser = (id) => {
  currentUser.value = userList.value.find((el) => el.id === id);
  isOpenEditModal.value = true;
};
const addUser = (user) => {
  if (userList.value.length !== 0) {
    user.id = userList.value[userList.value.length - 1].id + 1; // узнаю id последнего пользователя и создаю новому
  } else {
    user.id = 1;
  }
  userList.value.push(user);
  isOpenAddModal.value = false;
};
const updateUser = (user) => {
  const index = findUser(user.id, userList.value);
  if (index !== -1) userList.value[index] = user;
  isOpenEditModal.value = false;
};
</script>
<template>
  <header class="header">
    <h1 class="header__title">Список пользователей</h1>
    <button
      @click.prevent="isOpenAddModal = true"
      class="header__button button button_green"
    >
      Добавить
    </button>
  </header>
  <main class="main">
    <span class="main__item">id</span>
    <span class="main__item">Имя</span>
    <span class="main__item">Фамилия</span>
    <span class="main__item">Отчество</span>
    <span class="main__item">Номер телфона</span>
    <span class="main__item">Электронная почта</span>
    <span class="main__item">Дата рождения</span>
    <div class="main__item">Опции</div>
    <UserItem
      v-for="user in userList"
      :user="user"
      :key="user.id"
      @deleteUser="deleteUser($event)"
      @editUser="editUser($event)"
    />
    <AddModalUser
      v-if="isOpenAddModal"
      @closeModal="isOpenAddModal = false"
      @addUser="addUser($event)"
    />
    <EditModalUser
      v-if="isOpenEditModal"
      :currentUser="currentUser"
      @closeModal="isOpenEditModal = false"
      @updateUser="updateUser($event)"
    />
  </main>
</template>
<style></style>
