<script setup>
import { computed, reactive, ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required, email, helpers } from "@vuelidate/validators";
import InputBase from "@components/InputBase.vue";

const emit = defineEmits(["addUser", "closeModal"]);

const user = reactive({
  name: "",
  surName: "",
  middleName: "",
  phone: "",
  email: "",
  birthday: "",
});

const checkName = (value) => /^[A-Za-zА-Яа-я\s]+$/u.test(value);
const requiredMessageError = "Поле обязательно для заполнения";
const emailMessageError = "Введите правильный Email";
const nameMessageError = "Введите корректное имя";

const createRule = (message = requiredMessageError, parametr = required) => {
  return helpers.withMessage(message, parametr);
};

const rules = computed(() => {
  return {
    name: {
      required: createRule(),
      checkName: createRule(nameMessageError, checkName),
    },
    surName: {
      required: createRule(),
      checkName: createRule(nameMessageError, checkName),
    },
    middleName: {
      required: createRule(),
      checkName: createRule(nameMessageError, checkName),
    },
    phone: { required: createRule() },
    email: {
      required: createRule(),
      email: createRule(emailMessageError, email),
    },
    birthday: { required: createRule() },
  };
});

const v$ = useVuelidate(rules, user);

const submit = async () => {
  const result = await v$.value.$validate();
  if (result) emit("addUser", user);
};
</script>
<template>
  <div @click.self="$emit('closeModal')" class="modal">
    <form class="modal__container">
      <h2 class="modal__title">Добавление пользователя</h2>
      <InputBase title="Имя" v-model="user.name" :errors="v$.name.$errors" />
      <InputBase
        title="Фамилия"
        v-model="user.surName"
        :errors="v$.surName.$errors"
      />
      <InputBase
        title="Отчество"
        v-model="user.middleName"
        :errors="v$.middleName.$errors"
      />
      <InputBase
        title="Номер телефона"
        v-model="user.phone"
        type="number"
        :errors="v$.phone.$errors"
      />
      <InputBase
        title="Электронная почта"
        v-model="user.email"
        type="email"
        :errors="v$.email.$errors"
      />
      <InputBase
        title="День рождения"
        v-model="user.birthday"
        type="date"
        :errors="v$.birthday.$errors"
      />
      <button @click.prevent="submit" class="modal__button button button_green">
        Добавить
      </button>
    </form>
  </div>
</template>
<style></style>
