<script setup>
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import { ref } from "vue";

const props = defineProps({
  modelValue: String,
  title: { type: String, default: "" },
  type: {
    type: String,
    default: "text",
  },
});
const date = ref(null);
</script>
<template>
  <label class="row">
    <span class="name">Дата</span>
    <VueDatePicker v-model="date" class="inp"></VueDatePicker>
  </label>
</template>
<style></style>
