<script setup>
import { ref, defineProps } from "vue";
const emit = defineEmits(["update:modelValue"]);
const props = defineProps({
  modelValue: String,
  title: { type: String, default: "" },
  type: {
    type: String,
    default: "text",
  },
  errors: {
    type: Array,
    default: [],
  },
});
</script>
<template>
  <label class="row">
    <span class="name">{{ title }}</span>
    <div class="wrapper">
      <input
        :value="props.modelValue"
        :type="type"
        @input="$emit('update:modelValue', $event.target.value)"
        class="inp"
        :class="{ error: errors.length !== 0 }"
      />
      <p v-for="error in errors" :key="error.$uid" class="error-message">
        {{ error.$message }}
      </p>
    </div>
  </label>
</template>
<style lang="scss" scoped>
.row {
  display: flex;
  align-items: flex-start;
}
.name {
  margin: 0px 15px 0px 0px;
  flex: 0 0 150px;
  width: 150px;
}
.wrapper {
  flex: 0 0 200px;
  width: 200px;
}
.inp {
  outline: none;
  width: 100%;
}
.error {
  border: 1px solid red;
}
.error-message {
  margin: 0px 0px 0px 0px;
}
</style>
