<script setup>
const props = defineProps({
  user: {
    type: Object,
    default: {},
  },
});

const emit = defineEmits(["deleteUser", "editUser"]);
</script>
<template>
  <span class="main__item">{{ user.id }}</span>
  <span class="main__item">{{ user.name }}</span>
  <span class="main__item">{{ user.surName }}</span>
  <span class="main__item">{{ user.middleName }}</span>
  <span class="main__item">{{ user.phone }}</span>
  <span class="main__item">{{ user.email }}</span>
  <span class="main__item">{{ user.birthday }}</span>
  <div class="main__item main-options">
    <button
      @click.prevent="$emit('editUser', user.id)"
      class="main-options__item button button_green"
    >
      Редактировать
    </button>
    <button
      @click.prevent="$emit('deleteUser', user.id)"
      class="main-options__item button button_red"
    >
      Удалить
    </button>
  </div>
</template>
<style></style>
